table{
	border-spacing: 0;
}
table *{
	padding: 0 5px;
}
thead{
	font-size: 1.5em;
}
thead *{
	padding: 5px;
}


tr:nth-child(1) select, tr:nth-child(2) select, tr:nth-child(3) select{
	color: red;
}
tr:nth-child(4) select, tr:nth-child(5) select{
	color: green;
}


th:first-child{
	border-radius: 10px 0 0 0;
}
th:last-child{
	border-radius:0 10px 0 0;
}
tr:last-child td:first-child{
	border-radius: 0 0 0 10px;
}

tr:last-child td:last-child{
	border-radius: 0 0 10px 0;
}


tbody tr:nth-child(odd){
	background-color: white;
}
tbody tr:nth-child(even){
	background-color: #CCC;
}
thead tr{
	background-color: orange;
}


th, td{
	border: 1px solid black;
}
thead tr th:nth-child(3){
	text-align: left;
}
tbody tr td:nth-child(1), tbody tr td:nth-child(5), thead tr th:nth-child(1){
	text-align: right;
}
tbody tr td:nth-child(2), tbody tr td:nth-child(4){
	text-align: center;
}
